body{margin: 2%;background-color:rgba(128, 128, 128, 0.336);}
li{text-decoration: underline;margin: 9px;font-size:x-large;color: rgb(0, 0, 0);}
div{background-color: gray;border: 2px solid;margin: 5px;}
h1{text-align: center;margin: 20px;border:2px solid ;}
ul{font-size: large;}